.card {
  font-family: arial;
  font-size: 25px;
  text-align: center;
  --input-border-color: #ccc;
  --input-focus-border-color: #4D90FE;
  --text-color: black;
  --bg-color: white;
  --char-correct-color: green;
  --char-incorrect-color: red;
  --highlight-color: green;
  --button-bg-color: #f0f0f0;
  --button-border-color: #d0d0d0;
  --button-text-color: black;

  color: var(--text-color);
  background-color: var(--bg-color);
}

#hint-display {
  font-size: 16px;
}

#input-simulation-container {
  vertical-align: middle;
  margin: 0px 0px 4px;
  padding: 0px 2px 0px 2px
}

#real-input-box {
  outline: none;
  border: none;
}

#char-display-div {
  cursor: text;
  border: 1px solid var(--input-border-color);
}

#measure {
     visibility: hidden;
     display: inline-block;
     font-size: 25px;
}

.input-simulation-container.is-focused #char-display-div {
  border-color: var(--input-focus-border-color);
}

#char-display-div span {
  display: inline;
}

.char-correct {
  color: var(--char-correct-color);
}

.char-incorrect {
  color: var(--char-incorrect-color);
}

.char-incomplete {
  color: orange;
}

.nightMode .char-incomplete {
  color: #ffc863;
}

.nightMode .card {
  --input-border-color: #777;
  --text-color: white;
  --bg-color: #2d2d2d;
  --highlight-color: lightgreen;
  --button-bg-color: #555;
  --button-border-color: #777;
  --button-text-color: white;
}

.nightMode {
  --char-correct-color: lightgreen;
  --char-incorrect-color: #ff6e67;
  --highlight-color: lightgreen;
}

.nightMode #real-input-box {
    caret-color: white;
}

.nightMode button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
}

.highlight {
  color: var(--highlight-color);
  font-weight: bold;
}

.char-incorrect-space {
  background-color: var(--char-incorrect-color);
  color: white;
  display: inline-block;
  vertical-align: bottom;
  min-width: 0.3em;
  margin: 0 1px;
}

.nightMode .char-incorrect-space {
   background-color: var(--char-incorrect-color);
   color: black;
}


#char-display-div span {
   display: inline-block;
   vertical-align: bottom;
}